$color-yellow-light: #FCF0E366;
$color-white: #fff;
$color-light: #f4f5f7;
$color-white-light: #F2F2F2;
$color-grey: #D5D4D5;
$color-light-grey: #E3E3E3;
$color-blue: #0185d0;
$color-light-blue: #00a1c612;
$color-dark-blue: #3141C5;
$color-dark: #2B292D;

$text-color-white: $color-white;
$text-color-light-grey:#2b292d99;
$text-color-black: #000;
$text-color-dark: $color-dark;
$text-color-green: #009b4d;
$text-color-orange: #f1582b;
$text-color-blue: #3142c6;

$border-color: #2b292d33;